.slider{
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.slider__button {
    width: 90px;
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
    background-color: black;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}
.slider__button--left {
    left: 0;
}

.slider__button--right {
    right: 0;
}
.slider:hover .slider__button {
    opacity: 0.4;
}

.slider__button:active {
    background-color: aliceblue;
}
.slider__arrow {
    width: 50px;
    height: 50px;
}
.slider__arrow--back {
    transform: rotate(-180deg);
}
.slider__content{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider__dots {
    display: flex;
    position: absolute;
    bottom: 10px;
    text-align: center;
    justify-content: center;
    opacity: 0.4;
}
.slider__dots>li {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    margin-right: 8px;
}

.slider__dots>li:last-child {
    margin-right: 0;
}
li.selected {
    background-color: white;
}
.slider__title {
    font-weight: Bold;
    font-size: 52px;
    line-height: 63px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 36px;
    margin-top: 0;
    display: inline-block;
    max-width: 600px;
}

.slider__text {
    font-family: Montserrat;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 33px;
}