@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url(./reset.css);
@import url(./header.css);
@import url(./preview.css);
@import url(./footer.css);
@import url(./offers.css);
@import url(./popup.css);
@import url(./slider.css);
@import url(./menu.css);
@import url(./notification.css);
.container {
    width: 940px;
    margin: 0 auto;
    max-width: 100%;
}